################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/QuanLyBaiDoXe_UNETI03_TI17A2HN/.vs/QuanLyBaiDoXe_UNETI03_TI17A2HN.slnx/FileContentIndex
